<div class="container-fluid mt-5">
    <div class="row">
        <nav class="col-md-2 d-none d-md-block bg-light sidebar mt-5">
            <div class="sidebar-sticky">
                <ul class="nav flex-column">
                <% products.forEach((item) => { %>
                    <li class="nav-item">
                        <a class="nav-link" href="/view/product?id=<%- item._id -%>">
                            <span data-feather="layers"></span>
                            <%= item.name %>
                        </a>
                    </li>
                <% }) %>
                </ul>
            </div>
        </nav>

        <main role="main" class="col-md-9 ml-sm-auto col-lg-10 pt-3 px-4">
        <div class="d-flex justify-content-between flex-wrap flex-md-nowrap align-items-center pb-2 mb-3 border-bottom">
            <h1 class="h2">Overview</h1>
            <div class="btn-group mr-2">
                <a id="csv_file" class="btn btn-sm btn-outline-secondary" href="/data/all">Download CSV</a>
              </div>
        </div>
            <canvas id="chart" width="400" height="200"></canvas>
        </main>

    </div>
</div>

<script src="https://cdn.jsdelivr.net/npm/chart.js@2.8.0"></script>
<script src="/static/js/overview.chart.js"></script>